@model Turbo.ViewModel.PriviligesViewModel
@{
    ViewBag.Title = "PreviligesView";
    //Layout = "~/Views/Shared/_CustomLayout.cshtml";
    Layout = "~/Views/Shared/_TurboCustomLayout.cshtml";

}
@using Turbo.Models

@{
    CompanyEmployee staff = new CompanyEmployee();
    staff = Session["Employee"] as CompanyEmployee;

    Privileges privileges = new Privileges();
    privileges = Session["Priviliges"] as Privileges;
}

<div class="midde_cont" id="page">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Trade Idea</h2>
                </div>
                @if (TempData["msg"] != null)
                {
                    if (TempData["msg"] == "empty")
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Please!</strong>  Please fill all necessary fields.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    else if (TempData["msg"] == "update")
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Success!</strong> Updated successfully.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                }
                <label id="Alert_div" style="color:red"></label>
                <label id="Alert_div1" style="color:green"></label>
            </div>
        </div>
        <div class="row">
            <form action="PreviligesView" method="post" id="Priviliged_frm">
                <div class="row">
                    <div class="col-md-3">
                        <input type="checkbox" id="checkall" name="checkall" onclick="Checkall()">
                        <label> Check all</label><br>
                    </div>
                    @if (privileges.isManager)
                    {
                        <div class="col-md-3">
                            @if (Model.isManager == "on")
                            {
                                <input type="checkbox" id="isManager" name="isManager" checked>
                            }
                            else
                            {
                                <input type="checkbox" id="isManager" name="isManager">
                            }
                            <label>Manager</label><br>
                        </div>
                    }
                </div>


                <div class="row">
                    <input type="text" value="@Model.PrivilegesId" name="PrivilegesId" hidden />
                    <input type="text" value="@Model.DesignationId" name="DesignationId" hidden />
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;" id="isCurrency_div">
                            <div class="card-body">
                                <h5 class="card-title">Currency</h5>
                                @if (Model.isCurrency == "on")
                                {
                                    <input type="checkbox" id="isCurrency" name="isCurrency" checked onclick="checkDiv(isCurrency)">
                                }
                                else
                                {
                                    <input type="checkbox" id="isCurrency" name="isCurrency" onclick="checkDiv(isCurrency)">
                                }
                                <label for=""> All</label><br>

                                @if (Model.isCurrencyView == "on")
                                {
                                    <input type="checkbox" id="isCurrencyView" name="isCurrencyView" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="isCurrencyView" name="isCurrencyView">
                                }
                                <label for="">View</label><br>

                                @if (Model.isCurrencyCreate == "on")
                                {
                                    <input type="checkbox" id="isCurrencyCreate" name="isCurrencyCreate" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="isCurrencyCreate" name="isCurrencyCreate">
                                }
                                <label for="">Create</label><br>

                                @if (Model.isCurrencyUpdate == "on")
                                {
                                    <input type="checkbox" id="isCurrencyUpdate" name="isCurrencyUpdate" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="isCurrencyUpdate" name="isCurrencyUpdate">
                                }
                                <label for="">Update</label><br>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem; height:215.5px" id="setting_div">
                            <div class="card-body">
                                <h5 class="card-title">Setting</h5>
                                @if (Model.isSetting == "on")
                                {
                                    <input type="checkbox" name="isSetting" checked />
                                }
                                else
                                {
                                    <input type="checkbox" name="isSetting" />
                                }
                                <label for="">Settings</label><br>

                                @if (Model.isDashboard == "on")
                                {
                                    <input type="checkbox" name="isDashboard" checked />
                                }
                                else
                                {
                                    <input type="checkbox" name="isDashboard" />
                                }
                                <label for=""> Dashboard</label><br>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card" style="width: 18rem; height:215.5px" id="isEmployee_div">
                            <div class="card-body">
                                <h5 class="card-title">Employee</h5>
                                @if (Model.isEmployee == "on")
                                {
                                    <input type="checkbox" name="isEmployee" id="isEmployee" checked onclick="checkDiv(isEmployee)" />
                                }
                                else
                                {
                                    <input type="checkbox" name="isEmployee" id="isEmployee" onclick="checkDiv(isEmployee)" />
                                }
                                <label for="">All</label><br>

                                @if (Model.isEmployeeView == "on")
                                {
                                    <input type="checkbox" name="isEmployeeView" checked id="isEmployeeView" />
                                }
                                else
                                {
                                    <input type="checkbox" name="isEmployeeView" id="isEmployeeView" />
                                }
                                <label for="">View</label><br>

                                @if (Model.isEmployeeCreate == "on")
                                {
                                    <input type="checkbox" name="isEmployeeCreate" checked id="isEmployeeCreate" />
                                }
                                else
                                {
                                    <input type="checkbox" name="isEmployeeCreate" id="isEmployeeCreate" />
                                }
                                <label for="">Create</label><br>

                                @if (Model.isEmployeeUpdate == "on")
                                {
                                    <input type="checkbox" name="isEmployeeUpdate" checked id="isEmployeeUpdate" />
                                }
                                else
                                {
                                    <input type="checkbox" name="isEmployeeUpdate" id="isEmployeeUpdate" />
                                }
                                <label for="">Update</label><br>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem; height:215.5px" id="isDesignation_div">
                            <div class="card-body">
                                <h5 class="card-title">Designation</h5>
                                @if (Model.isDesignation == "on")
                                {
                                    <input type="checkbox" id="isDesignation" name="isDesignation" checked onclick="checkDiv(isDesignation)">
                                }
                                else
                                {
                                    <input type="checkbox" id="isDesignation" name="isDesignation" onclick="checkDiv(isDesignation)">
                                }
                                <label for="">All</label><br>

                                @if (Model.isDesignationView == "on")
                                {
                                    <input type="checkbox" id="isDesignationView" name="isDesignationView" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="isDesignationView" name="isDesignationView">
                                }
                                <label for="">View</label><br>

                                @if (Model.isDesignationCreate == "on")
                                {
                                    <input type="checkbox" id="isDesignationCreate" name="isDesignationCreate" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="isDesignationCreate" name="isDesignationCreate">
                                }
                                <label for="">Create</label><br>

                                @if (Model.isDesignationUpdate == "on")
                                {
                                    <input type="checkbox" id="isDesignationUpdate" name="isDesignationUpdate" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="isDesignationUpdate" name="isDesignationUpdate">
                                }
                                <label for="">Update</label><br>

                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">

                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;" id="isTeadeIdea_div">
                            <div class="card-body">
                                
                                <h5 class="card-title">Trade Idea</h5>
                                @if (Model.isTradeIdea == "on")
                                {
                                    <input type="checkbox" id="isTradeIdea" name="isTradeIdea" checked onclick="checkDiv(isTeadeIdea)" />
                                }
                                else
                                {
                                    <input type="checkbox" id="isTradeIdea" name="isTradeIdea" onclick="checkDiv(isTeadeIdea)">
                                }
                                <label for="">All</label><br>

                                @if (Model.isTradeIdeaView == "on")
                                {
                                    <input type="checkbox" id="isTradeIdeaView" name="isTradeIdeaView" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="isTradeIdeaView" name="isTradeIdeaView">
                                }
                                <label for="">View</label><br>

                                @if (Model.isTradeIdeaCreate == "on")
                                {
                                    <input type="checkbox" id="isTradeIdeaCreate" name="isTradeIdeaCreate" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="isTradeIdeaCreate" name="isTradeIdeaCreate">
                                }
                                <label for="">Create</label><br>

                                @if (Model.isTradeIdeaUpdate == "on")
                                {
                                    <input type="checkbox" id="isTradeIdeaUpdate" name="isTradeIdeaUpdate" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="isTradeIdeaUpdate" name="isTradeIdeaUpdate">
                                }
                                <label for="">Update</label><br>

                                @if (Model.isAddTakeProfit == "on")
                                {
                                    <input type="checkbox" id="isAddTakeProfit" name="isAddTakeProfit" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="isAddTakeProfit" name="isAddTakeProfit">
                                }
                                <label for="">Add Take Profit</label><br>

                                @if (Model.isAddStopLoss == "on")
                                {
                                    <input type="checkbox" id="isAddStopLoss" name="isAddStopLoss" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="isAddStopLoss" name="isAddStopLoss">
                                }
                                <label for="">Add Stop Lose</label><br>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <input type="submit" style="width:100px" value="Update" class="btn buttoncolor" />
            </form>
        </div>
    </div>
</div>


<script>
    function Checkall() {

        if ($("#checkall").prop('checked') == true) {
            $("#Priviliged_frm").find('input[type=checkbox]').each(function () {
                this.checked = true;
            });
        }
        else {
            $("#Priviliged_frm").find('input[type=checkbox]').each(function () {
                this.checked = false;
            });
        }
        $('#isAdminAccess').prop('checked', false);
    }

    function checkDiv(id) {
        debugger;
        if ($("#" + id.id).prop('checked') == true) {
            $("#" + id.id + "_div").find('input[type=checkbox]').each(function () {
                this.checked = true;
            });
        }
        else {
            $("#" + id.id + "_div").find('input[type=checkbox]').each(function () {
                this.checked = false;
            });
        }
    }

</script>
